@font-face {
	font-family: "aniron";
	src: url("./fonts/anicb___.woff") format("woff");
}
@font-face {
	font-family: "party-business";
	src: url("./fonts/partybusiness.woff") format("woff");
}
@font-face {
	font-family: "Tengwar Annatar";
	src: url("./fonts/tngan.woff") format("woff");
}
p {
	font-family: "party-business", arial, serif;
}
a {
	font-family: "party-business", arial, serif;
	font-family: aniron, arial, serif;
}
th {
	font-family: "party-business", arial, serif;
}
td {
	font-family: "party-business", arial, serif;
}
input {
	font-family: "party-business", arial, serif;
}
select {
	font-family: "party-business", arial, serif;
}
textarea {
	font-family: "party-business", arial, serif;
}
h2 {
	font-family: "party-business", arial, serif;
	font-size: 4rem;
}
h1 {
	font-family: aniron, arial, serif;
}
h3 {
	font-family: aniron, arial, serif;
}
h4 {
	font-family: aniron, arial, serif;
}
h5 {
	font-family: aniron, arial, serif;
}
body {
	background-color: white;
	text-align: center;
}
header {
	background-color: #395064;
}
.navbar-expand-lg {
	.navbar-nav {
		.nav-link {
			padding-right: 1.8rem;
			padding-right: 2rem;
		}
	}
}
.bg-light {
	background-color: #f36929 !important;
}
.navbar-light {
	.navbar-brand {
		color: #fef5ce;
	}
	.navbar-nav {
		.active {
			>.nav-link {
				color: #fef5ce;
				border-right: 1px solid #fef5ce;
			}
		}
		.nav-link.active {
			color: #fef5ce;
			border-right: 1px solid #fef5ce;
		}
		.nav-link.show {
			color: #fef5ce;
			border-right: 1px solid #fef5ce;
		}
		.show {
			>.nav-link {
				color: #fef5ce;
				border-right: 1px solid #fef5ce;
			}
		}
	}
}
.nav-link {
	text-decoration: none;
	&:visited {
		text-decoration: underline;
	}
	&:hover {
		text-decoration: underline;
		text-decoration: underline;
	}
	&:active {
		text-decoration: underline;
	}
	&:focus {
		text-decoration: underline;
	}
}
.d-md-block {
	margin-bottom: 190px;
}
.h2 {
	font-size: 4rem;
}
.d-none {
	p {
		font-size: 2rem;
	}
}
.carousel-caption {
	text-align: start;
}
.fellows {
	padding-top: 40px;
	padding-bottom: 40px;
}
.fellow-bloc {
	background-image: url("../images_ftp/bg_light.png") !important;
	text-align: center;
	height: 100vh;
	align-items: center;
	justify-content: center;
}
.ligne {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}
.signe-lien {
	display: none;
	font-family: Tengwar Annatar;
}
.pill_clic {
	a {
		&:hover {
			color: #f36929;
			.signe-lien {
				color: #f36929;
				display: contents;
				text-decoration: underline;
			}
		}
		&:focus {
			.signe-lien {
				color: #f36929;
				display: contents;
				text-decoration: underline;
			}
		}
		&:active {
			.signe-lien {
				color: #f36929;
				display: contents;
				text-decoration: underline;
			}
		}
	}
}
.parenthese {
	font-size: 0.7em;
}
.signe {
	color: #f36929;
	font-family: Tengwar Annatar;
	font-size: 1.5em;
}
.nav-pills {
	.nav-link.active {
		color: #f36929;
		background-color: transparent;
	}
	.show {
		>.nav-link {
			color: #f36929;
			background-color: transparent;
		}
	}
}
.sans {
	display: none;
}
.noir {
	color: black;
}
.card-body {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	p {
		font-size: 2em;
		color: white;
		color: #565454;
	}
	>img {
		border-radius: 55% !important;
	}
}
.card-group {
	.card {
		background-color: black;
		border: 3px;
		padding-left: 5px;
		padding-right: 5px;
		padding-top: 5px;
		margin-left: 10px;
		margin-right: 10px;
		margin-bottom: 100px;
		border-radius: 2px;
		border-top-right-radius: 2px;
		border-bottom-right-radius: 2px;
	}
}
.display-4 {
	font-size: 1.5rem;
	margin-bottom: 20px;
	color: white;
}
.lead {
	color: white;
}
.jumbotron {
	background-image: url("images_ftp/bg_dark.png") !important;
	margin-bottom: 0rem;
	background-image: none !important;
	background-color: #f36929 !important;
	a {
		color: white;
		list-style: none;
	}
	ul {
		list-style: none;
	}
}
.float {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}
.btn {
	display: block;
	width: 200px;
	margin: auto;
}
.btn-primary {
	background-color: white;
	border-color: white;
	color: #f36929;
	&:hover {
		background-color: white;
		border-color: white;
		color: grey;
	}
	&:not(:disabled) {
		&:not(.disabled).active {
			background-color: white;
			border-color: white;
		}
		&:not(.disabled) {
			&:active {
				background-color: white;
				border-color: white;
			}
		}
	}
	&:focus {
		-webkit-box-shadow: none;
		box-shadow: none;
		box-shadow: none;
	}
}
.show {
	>.btn-primary.dropdown-toggle {
		background-color: white;
		border-color: white;
	}
}
.btn-primary.focus {
	-webkit-box-shadow: none;
	box-shadow: none;
	box-shadow: none;
}
.besthunters-bloc {
	background-image: url("images_ftp/bg_light.png") !important;
	margin-bottom: -2rem;
}
.media-body {
	a {
		color: black;
	}
	h4 {
		font-family: "party-business";
		font-size: 3em;
		color: orange;
	}
}
.foot {
	border-radius: 5px;
	background-color: #395064;
}
.list-group-item {
	background-color: #E1E6E9;
	text-align: center;
}
.tableau {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}
nav {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: space-evenly;
	-ms-flex-pack: space-evenly;
	justify-content: space-evenly;
}
.reward {
	position: absolute;
	z-index: 2;
	text-align: center;
	top: 5%;
	left: 20%;
	width: 60%;
	color: black;
	padding: 7px;
	font-size: 2em;
	border-radius: 10px;
	background-color: rgba(255, 255, 255, 0.8);
}
.name {
	position: absolute;
	z-index: 2;
	top: 50%;
	left: 25%;
	text-align: center;
	color: white;
	font-size: 3em;
	width: 45%;
}
.orange {
	color: #f36929;
}
.card-img-top {
	opacity: 0.7;
	z-index: 1;
}
.card {
	&:hover {
		opacity: 1;
		.reward {
			opacity: 0.0;
		}
		.name {
			position: absolute;
			z-index: 2;
			top: 50%;
			left: 25%;
			text-align: center;
			color: white;
			font-size: 2em;
			width: 50%;
		}
	}
}
.thering-bloc {
	background-image: url("images_ftp/bg_dark.png");
	padding-top: 5rem;
	padding-bottom: 0.5rem;
	>h3 {
		padding-left: 2rem;
		color: white;
	}
	.card {
		margin: 3rem;
		border-top-left-radius: 2.25rem;
		border-top-right-radius: 2.25rem;
		border: none;
	}
}
.card-header {
	background-color: #f36929;
	border-top-left-radius: 2.25rem !important;
	border-top-right-radius: 2.25rem !important;
	.card-body {
		background-color: grey;
	}
}

.bloc-ring {
	width: 100%;
	justify-content: center;
	padding-top: 200px;
	margin-right: 0px;
	margin-left: 0px;
}
@media screen and (max-width: 1201px) {
	.reward {
		position: absolute;
		z-index: 2;
		text-align: center;
		top: 5%;
		left: 20%;
		width: 60%;
		color: black;
		padding: 7px;
		font-size: 2em;
		border-radius: 10px;
		background-color: rgba(255, 255, 255, 0.8);
	}
	.name {
		position: absolute;
		z-index: 2;
		top: 60%;
		left: 20%;
		text-align: center;
		color: white;
		font-size: 3em;
		width: 60%;
	}
	.card-body {
		p {
			font-size: 1.5em;
		}
	}
	.card {
		&:hover {
			.name {
				position: absolute;
				z-index: 2;
				top: 60%;
				left: 25%;
				text-align: center;
				color: white;
				font-size: 1.5em;
				width: 50%;
			}
		}
	}
}
@media screen and (max-width: 990px) {
	.reward {
		position: absolute;
		z-index: 2;
		text-align: center;
		top: 5%;
		left: 20%;
		width: 60%;
		color: black;
		padding: 7px;
		font-size: 1em;
		border-radius: 10px;
		background-color: rgba(255, 255, 255, 0.8);
	}
	.name {
		position: absolute;
		z-index: 2;
		top: 30%;
		left: 25%;
		text-align: center;
		color: white;
		font-size: 1.9em;
		width: 60%;
	}
	.card-body {
		p {
			font-size: 1.5em;
			font-size: 1.1em;
		}
	}
	.card {
		&:hover {
			.name {
				position: absolute;
				z-index: 2;
				top: 30%;
				left: 25%;
				text-align: center;
				color: white;
				font-size: 1.5em;
				width: 50%;
			}
		}
	}
}
@media screen and (max-width: 770px) {
	.reward {
		position: absolute;
		z-index: 2;
		text-align: center;
		top: 3%;
		left: 20%;
		width: 60%;
		color: black;
		padding: 7px;
		font-size: 0.7em;
		border-radius: 10px;
		background-color: rgba(255, 255, 255, 0.8);
	}
	.name {
		position: absolute;
		z-index: 2;
		top: 25%;
		left: 25%;
		text-align: center;
		color: white;
		font-size: 1em;
		width: 45%;
	}
	.card-body {
		p {
			font-size: 0.7em;
		}
	}
	.card {
		&:hover {
			.name {
				position: absolute;
				z-index: 2;
				top: 25%;
				left: 25%;
				text-align: center;
				color: white;
				font-size: 0.7em;
				width: 50%;
			}
		}
	}
}
@media screen and (max-width: 576px) {
	.reward {
		position: absolute;
		z-index: 2;
		text-align: center;
		top: 5%;
		left: 20%;
		width: 60%;
		color: black;
		padding: 7px;
		font-size: 2em;
		border-radius: 10px;
		background-color: rgba(255, 255, 255, 0.8);
	}
	.name {
		position: absolute;
		z-index: 2;
		top: 50%;
		left: 25%;
		text-align: center;
		color: white;
		font-size: 3em;
		width: 45%;
	}
	.card-body {
		p {
			font-size: 3em;
		}
	}
	.card {
		&:hover {
			.name {
				position: absolute;
				z-index: 2;
				top: 50%;
				left: 25%;
				text-align: center;
				color: white;
				font-size: 2em;
				width: 50%;
			}
		}
	}
}
