@import "./variables";

@mixin ring($baseColor, $baseRingWidth, $baseRingHeight, $params, $bord) {
    background:transparent;
    border-radius:50%;
    width:$baseRingWidth;
    height:$baseRingHeight;
    border:$bord solid $baseColor;
    box-shadow: $params;
}

/* @mixin box-shadow($params) {
    box-shadow: $params;
} */

.yellow-ring {
    @include ring($yellowRing, 100px, 100px, 2px 1px 5px 6px rgb(228, 205, 0), 9px);
    /* @include box-shadow(#{0 0 5px rgb(228, 205, 0)}) */
}





